;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:cli {:target :node-script
        :main enigma.index/main
        :output-to "dist/cli/enigma.js"}}}
